<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>La petite boutique
    </h1>
    <h2>Artices disponibles</h2>

    <form method="post" action='/panier'>
        <button type='submit'> Voir mon panier</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
        <% for( let index=0; index < itemList.length; index++ ) { %>

            <tr> <!-- Rangée -->
                <td> <!-- Cellule -->
                    <%= itemList[index].name %>
                </td>
                <td> <!-- Cellule -->
                    <%= itemList[index].quantity %>
                </td>
                <td>
                    <form method="post" action="/retirer/<%=itemList[index].id_item%>">
                        <button type='submit'>Retirer</button>
                    </form>
                </td>
                <td>
                    <form method="post" action="/ajouter/<%=itemList[index].id_item%>">
                        <button type='submit'>Acheter</button>
                    </form></td>
            </tr>

            <% } %>
    </table>
    
    <form method="post" action="/nouveau">
        <button type='submit'>Ajouer un nouvel article</button>
    </form></td>
</body>

</html>