<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-do list MySQL</title>
    <link rel="stylesheet" href="/css/todostyle.css">
</head>

<body>

    <h1>Liste des tâches</h1>

    <ul>
        <% for( let i=0; i < tasks.length; i++ ) { %>
            <li>
                <%= tasks[i].taskname %>
                    <a href="/task/delete/<%= tasks[i].idtask %>">Effacer</a>
            </li>
            <% } %>
    </ul>

    <a href="/task/add" id=newTask>Ajouter une tâche</a>
    



</body>

</html>