h1 {
    text-align: center;
}

body {
    width: 300px;
    border: solid; /*Style de bordure*/
    border-width: 1px;
    padding: 10px; /*Marges intérieures*/
    margin:10px; /*Marges extérieures*/
}
